name: Build Workflow

on:
  push:
    branch: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
      - name: Compile
        working-directory: app-services-sdk-java
        env:
          OFFLINE_TOKEN: ${{ secrets.OFFLINE_TOKEN }}
        run: mvn clean install